@import '../../src/mixins';
@import '../../src/variables';

$color-primary: #1a99ff;
$color-secondary: #5d9557;
$font-title: Ubuntu, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h2 {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-size: 18px;
}

h4 {
  color: #888;
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  margin: 16px 0;
}

a {
  color: $color-primary;
  &:hover {
    color: lighten($color-primary, 15%);
  }
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
}

ul {
  padding-left: 18px;
}

code {
  color: $color-secondary;
  padding: 0 4px;
  background: #f4f4f4;
  font-family: $font-monospace;
}

pre {
  background: #f4f4f4;
  overflow-x: auto;
  padding: 8px;
  line-height: 18px;
  code {
    padding: 0;
  }
}

th {
  padding: 8px 14px;
  background: lighten($color-primary, 10%);
  color: white;
  text-align: left;
  font-weight: normal;
}

td {
  padding: 12px 14px;
  background: #f4f4f4;
  ul {
    margin: 4px 0;
  }
  code {
    padding: 0;
  }
}

.header {
  background: linear-gradient(to right, #1579cb, #3accff);
  color: white;
}

.navbar {
  height: 64px;
  line-height: 64px;
  &__content {
    font-size: 0;
  }
  &__item {
    display: inline-block;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.lead {
  position: relative;
  padding: 40px 0 100px 0;
  text-align: center;
  line-height: normal;
  font-family: $font-title;
  &__title {
  }
  &__subtitle h1 {
    font-weight: 300;
    font-size: 20px;
  }
}

.table {
  overflow-x: auto;
}

.logo {
  font-size: 50px;
  font-weight: normal;
  &__blu {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.35);
  }
  &__print {
    color: white;
  }
  &__css {
    color: rgba(255, 255, 255, 0.35);
  }
}

.fork {
  position: absolute;
  top: 0;
  right: 0;
}

.bluebox {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: $font-monospace;
  text-align: center;
  &__content {
    padding: 12px;
    background: lighten($color-primary, 10%);
    white-space: nowrap;
  }
  &--nested {
    padding: 0 0 16px 0;
    background: lighten($color-primary, 10%);
    @include clearfix;
  }
  &--nested &__inner {
    padding: 0;
    color: $color-primary;
    border: 1px solid lighten($color-primary, 25%);
  }
  &--nested &__inner &__content {
    padding: 12px;
    background: lighten($color-primary, 35%);
  }
  &--waterfall {
    $columns: 1, 2, 3, 4, 6, 12;
    @for $i from 1 through length($columns) {
      $column: nth($columns, $i);
      &.xs-#{$column} .bluebox__content {
        background: lighten($color-primary, 42.5% - ($i * 4));
      }
    }
  }
}

.tier {
  @mixin highlight {
    background: lighten($color-primary, 20%);
  }
  &--default {
    @include highlight;
  }
  &--xs {
    @media (max-width: $screen-xs-max) {
      @include highlight;
    }
  }
  &--sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include highlight;
    }
  }
  &--md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      @include highlight;
    }
  }
  &--lg {
    @media (min-width: $screen-lg-min) {
      @include highlight;
    }
  }
}

.footer {
  color: #777;
  font-size: 12px;
  padding: 24px 0 12px 0;
  a {
    text-decoration-style: dotted;
  }
}

.color {
  &-primary {
    color: $color-primary;
  }
  &-secondary {
    color: $color-secondary;
  }
  &-muted {
    color: #bbb;
  }
}

.hljs {
  &.html {
    color: black;
  }
  &.scss {
    color: $color-secondary;
  }
  &-string {
    color: $color-primary;
  }
  &-name {
    color: $color-secondary;
  }
  &-tag {
    color: #aaa;
  }
  &-comment {
    color: #aaa;
  }
  &-variable {
    color: $color-primary;
  }
  &-number {
    color: black;
  }
}
