h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif; }

h2 {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd; }

h3 {
  font-size: 18px; }

h4 {
  color: #888;
  font-size: 16px;
  margin-bottom: 10px; }

p {
  margin: 16px 0; }

a {
  color: #1a99ff; }
  a:hover {
    color: #67bbff; }

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ccc; }

ul {
  padding-left: 18px; }

code {
  color: #5d9557;
  padding: 0 4px;
  background: #f4f4f4;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

pre {
  background: #f4f4f4;
  overflow-x: auto;
  padding: 8px;
  line-height: 18px; }
  pre code {
    padding: 0; }

th {
  padding: 8px 14px;
  background: #4db0ff;
  color: white;
  text-align: left;
  font-weight: normal; }

td {
  padding: 12px 14px;
  background: #f4f4f4; }
  td ul {
    margin: 4px 0; }
  td code {
    padding: 0; }

.header {
  background: linear-gradient(to right, #1579cb, #3accff);
  color: white; }

.navbar {
  height: 64px;
  line-height: 64px; }
  .navbar__content {
    font-size: 0; }
  .navbar__item {
    display: inline-block;
    padding: 0 10px;
    color: white;
    font-size: 16px;
    text-decoration: none; }
    .navbar__item:hover {
      color: white;
      text-decoration: underline; }

.lead {
  position: relative;
  padding: 40px 0 100px 0;
  text-align: center;
  line-height: normal;
  font-family: Ubuntu, sans-serif; }
  .lead__subtitle h1 {
    font-weight: 300;
    font-size: 20px; }

.table {
  overflow-x: auto; }

.logo {
  font-size: 50px;
  font-weight: normal; }
  .logo__blu {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.35); }
  .logo__print {
    color: white; }
  .logo__css {
    color: rgba(255, 255, 255, 0.35); }

.fork {
  position: absolute;
  top: 0;
  right: 0; }

.bluebox {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: center; }
  .bluebox__content {
    padding: 12px;
    background: #4db0ff;
    white-space: nowrap; }
  .bluebox--nested {
    padding: 0 0 16px 0;
    background: #4db0ff; }
    .bluebox--nested:after {
      clear: both;
      content: '';
      display: block; }
  .bluebox--nested .bluebox__inner {
    padding: 0;
    color: #1a99ff;
    border: 1px solid #9ad2ff; }
  .bluebox--nested .bluebox__inner .bluebox__content {
    padding: 12px;
    background: #cde9ff; }
  .bluebox--waterfall.xs-1 .bluebox__content {
    background: #def0ff; }
  .bluebox--waterfall.xs-2 .bluebox__content {
    background: #cae7ff; }
  .bluebox--waterfall.xs-3 .bluebox__content {
    background: #b6deff; }
  .bluebox--waterfall.xs-4 .bluebox__content {
    background: #a1d5ff; }
  .bluebox--waterfall.xs-6 .bluebox__content {
    background: #8dccff; }
  .bluebox--waterfall.xs-12 .bluebox__content {
    background: #78c3ff; }

.tier--default {
  background: #80c6ff; }

@media (max-width: 767px) {
  .tier--xs {
    background: #80c6ff; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tier--sm {
    background: #80c6ff; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .tier--md {
    background: #80c6ff; } }

@media (min-width: 1200px) {
  .tier--lg {
    background: #80c6ff; } }

.footer {
  color: #777;
  font-size: 12px;
  padding: 24px 0 12px 0; }
  .footer a {
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted; }

.color-primary {
  color: #1a99ff; }

.color-secondary {
  color: #5d9557; }

.color-muted {
  color: #bbb; }

.hljs.html {
  color: black; }

.hljs.scss {
  color: #5d9557; }

.hljs-string {
  color: #1a99ff; }

.hljs-name {
  color: #5d9557; }

.hljs-tag {
  color: #aaa; }

.hljs-comment {
  color: #aaa; }

.hljs-variable {
  color: #1a99ff; }

.hljs-number {
  color: black; }
