@import 'config';
@import 'functions';
@import 'mixins';

// Defaults:

$class-row: 'row' !default;
$class-column-base: 'col' !default;
$class-column-responsive: '[TIER]-[SIZE]' !default;
$buttons: null !default;

// Elements:

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

.#{$class-row} {
  max-width: 100%;
  margin: 0 auto;
  @include clearfix;
  .#{$class-row} {
    max-width: none;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
  }
  &.fluid {
    max-width: none;
  }
}

.#{$class-column-base} {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  box-sizing: border-box;
}

$tiers: sort($tiers, 2);
$length: length($tiers);
@for $i from 1 through $length {
  $tier: nth($tiers, $i);
  $next: if($i < $length, nth($tiers, $i + 1), null);
  $prefix: nth($tier, 1);
  $min-width: nth($tier, 2);
  $max-width: if($next, nth($next, 2) - 1, null);
  @include tier($prefix, $min-width);
  @include hidden($prefix, $min-width, $max-width);
}

// Helpers:

@import 'helpers';

// Buttons:

@if $buttons {
  .btn {
    display: inline-block;
    color: black;
    padding: 12px 28px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.15s;
    &--wide {
      width: 100%;
      text-align: center;
    }
  }
  @each $suffix, $background in $buttons {
    @include button($suffix, $background);
  }
}
